.hide-options .Select-arrow-zone {
    display: none;
}

.hide-options .Select-menu-outer {
    display: none;
}

.autocomplete-search {
    position: absolute;
    left:0;
    right:0;
    margin:auto;
    width: 100%;
}

.editableChip {
    padding-right: 0 !important;
    margin: 5px !important;
}
.editableChip span {
    padding-right:  5px !important;
}

.editableChip span div:nth-child(1) {
    padding-right: 6px !important;
}