.fa-dropbox, .fa-dropbox:hover{color:#018BD3;}
.fa-facebook, .fa-facebook:hover{color:#3C599F;}
.fa-flickr, .fa-flickr:hover{color:#FF0084;}
.fa-github, .fa-github:hover{color: #ffffff;}
.fa-google-plus, .fa-google-plus:hover{color:#CF3D2E;}
.fa-instagram, .fa-instagram:hover{color:#A1755C;}
.fa-linkedin, .fa-linkedin:hover{color:#0085AE;}
.fa-pinterest, .fa-pinterest:hover{color:#CC2127;}
.fa-skype, .fa-skype:hover{color:#01AEF2;}
.fa-stack-overflow, .fa-stack-overflow:hover{color:#FF7300;}
.fa-trello, .fa-trello:hover{color:#265A7F;}
.fa-twitter, .fa-twitter:hover{color:#32CCFE;}
.fa-vimeo, .fa-vimeo:hover{color:#229ACC;}
.fa-youtube, .fa-youtube:hover{color:#C52F30;}
.fa-whatsapp, .fa-whatsapp:hover{color:#25D366;}
.fa-slack, .fa-slack:hover{color:#5C3A58;}
.fa-google, .fa-google:hover{color:#FBBC05;}
.fa-envelope-o, .fa-envelope-o:hover{color:#dd4b39;}
.fa-phone, .fa-phone:hover{color:#007F3F;}
.fa-map-marker, .fa-map-marker:hover{color:#DC4A3E;}
.fa-folder, .fa-folder:hover, .fa-file, .fa-file:hover{color:#4285F4;}
.fa-link, .fa-link:hover{color: #ececec;}
