.banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 166px;
    background-image: url("../../images/fly_away.jpg");
    background-position: center;
    box-shadow: 0 8px 20px -12px darkgrey;
    background-size: cover;
}

.banner-container {
    height: 156px;
}

#logo {
    width: 6rem;
    height: 6rem;
    bottom: 3rem;
    box-shadow: 0 5px 15px -1px darkgrey, 0 0 0 5px transparent;
    z-index: 999;
}

#auth-form {
    padding-top: 4px;
    height: 55vh;
}

.margin-form {
    padding: 1rem 15px;
}

@media screen and (min-width: 992px) {
    .banner-container {
        height: 388px;
    }

    .banner {
        height: 400px;
    }
}
