#card {
    max-width: 500px;
    border-radius: 30px;
    max-height: 30vh;
    margin: 15px;
}

#card-picture {
    width: 18vh;
    height: 18vh;
    border-radius: 0 0 30px 0;
}

#card-info {
    height: 18vh;
    padding-top: 30%;
    padding-right: 0;
    padding-left: 0;
}

#card-content{
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 5px;
}

#card-wings {
    display: inline-block;
    color: white;
}


