.marker {
  background: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
}

.marker i {
  font-size: 80px;
  margin-top: -40px;
  /* color: #2b2d3c; */
  color: white !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.marker:hover i {
  color: #aaacbe;
}

.marker img {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  left:0;
  right:0;
  margin: auto;
  top: -30px;
}

.mapCluster {
  background-color: white;
  color: #2b2d3c;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 50%;
  text-align: center;
  /* z-index of spider pins are less or equal than 1000 */
  z-index: 1001; 
}

.mapCluster > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.marker-parent .line-div {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 4px;
  background-color: rgba(255,255,255,0);
  transform-origin: bottom;
}

.marker-parent:hover .line-div {
  background-color: rgba(255,255,255,1);
}

.marker-img {
  border: 4px solid white;
  top: 0 !important;
  margin-top: 0 !important;
  font-size: 24px !important;
  width: 50px !important;
  height: 50px !important;
  background-color: white;
  border-radius: 50%;
}

.marker-parent i {
  color: black !important;
}
.marker-parent i::before {
  position: relative;
  top: 10px;
}

.marker-parent {
  opacity: 0;
  animation: opacityEase 300ms ease-in forwards;
}

@keyframes opacityEase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}