#wings {
    font-size: 18px;
    color: white;
    margin: 2px;
    padding: 6px 12px;
    background-color: #98C4CA ;
}

#wings:hover {
    background-color: #8fbac0;
    box-shadow: 0 5px 5px -1px #d7d7d7, 0 0 0 5px transparent;
}

#wings-img {
    height: 48px;
    width: 48px;
    margin: -5px -6px 0 -15px;
}
