@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');

html {
  background-color: #FFFFFF;
  height: 100%;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    /*for firefox */
    scrollbar-color:  #2b2d3c #2b2d3c;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    opacity: 1;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

a {
  color: inherit;
}

#root{
    min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

/* Do not allow x overflow */
main {
  max-width: 100vw;
  overflow-x: hidden;
}

@keyframes suggestionOut {
  from {
    /* padding: 6px 12px; */
    /* font-size: 0.8125rem; */
    /* overflow: auto; */
    /* width: 100%; */
    opacity: 1;
    margin-left: 8px;
    margin-right: 8px;
  }
  to {
    /* padding: 0; */
    /* font-size: 0rem; */
    /* overflow: hidden; */
    /* width: 0%; */
    margin-left: 0px;
    margin-right: 0px;
    opacity: 0;
  }
}


@media screen and (max-width: 400px) {
  html{
    font-size: 13px
  }
}
