@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');

html {
  background-color: #FFFFFF;
  height: 100%;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    /*for firefox */
    scrollbar-color:  #DDE9EB white;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    opacity: 1;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #DDE9EB;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #789094;
    opacity: 0;
}

a {
  color: inherit;
}

#root{
    min-height: 100%;
}

div[role="tooltip"]{
    z-index: 9999;
    align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

/* Do not allow x overflow */
main {
  max-width: 100vw;
  overflow-x: hidden;
}
