/* TOGGLE USER STATUS */
#userStatusToggle{
    position: relative;
    left:0;
    right:0; 
    margin:auto;
    text-align: center;
    width: 180px;
}
#userStatusToggle a{
    position: relative;
    box-shadow: 0 0 5px grey;
    z-index: 2;
    padding:2px 12px;
    width:0;
    border-radius: 30px;
}
#userStatusToggle div{
    position: absolute;
    left:0; 
    right:0; 
    margin:auto;
    top:50%;
    transform: translateY(-50%);
    background: grey;
    width:30%;
    border-radius: 30px;
    height:15px;
}
.menu-status-available .u, .menu-status-available .n,
.menu-status-unavailable .a, .menu-status-unavailable .n,
.menu-status-unspecified .a, .menu-status-unspecified .u,
.menu-status- .a, .menu-status- .u{
    opacity: 0;
}
.menu-status-available .a{
    background: #32cd32;
}
.menu-status-unavailable .u{  
    background: #dd362e;
}
.menu-status-unspecified .n, .menu-status- .n{
    background: white;
}