.uploadcare--widget_option_clearable {
  position: relative;
  width: 100%;
  text-align: center;
}

.uploadcare--widget__button {
  border-radius: 4px;
  padding: 8px 24px;
  background: #FF0018;
  text-transform: uppercase;
  cursor: pointer;
  width: 316px;
  height:56px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
  font-size: 0.75rem;
  font-weight: 600;
}

.uploadcare--widget__progress {
  display: none;
}

.uploadcare--widget__text {
  display: none;
}

.uploadcare--widget__button:hover, .uploadcare--widget__button:focus {
  background: #BA0012;
  border: none;
  outline: none;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
}

@media screen and (max-width: 600px) {
  .uploadcare--widget__button {
    width: 196px;
  }
}
